tests/deps/pouch-commit.txt
tmp
.DS_Store
node_modules
docs/_site
docs/static/css
npm-debug.log
*~
coverage
bower_components
.idea/
tests/integration/cordova/www
phantomjsdriver.log
tests/pouchdb_server
tests/performance-bundle.js
dist/*
