tmp
.DS_Store
/node_modules
docs/_site
docs/static/css
npm-debug.log
npm-debug.log.*
*~
coverage
bower_components
.idea/
tests/integration/cordova/www
phantomjsdriver.log
tests/pouchdb_server
tests/performance-bundle.js
packages/node_modules/pouchdb/dist/*
pouchdb-webpack.js
lib
lib_unit
src_browser/
lerna-debug.log
tests/integration/utils-bundle.js
*.heapsnapshot
/pouchdb-server-install
