language: node_js

node_js:
  - "5"

services:
  - docker

git:
  depth: 30

sudo:
  false

addons:
  firefox: "47.0.2"

before_install:
  # Because Saucelabs doesnt proxy 5984 on OSX
  - "if [ -z \"$COUCH_HOST\" ]; then export COUCH_HOST=http://127.0.0.1:3000; fi"

before_script:
  # Our test-browser.js script uses FIREFOX_BIN to find the Firefox binary
  # See https://github.com/travis-ci/travis-ci/issues/4649
  - echo "using firefox $(firefox --version)"
  - export FIREFOX_BIN=$(which firefox)
  # The next two lines are required for Firefox to run on Travis
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  # Install PhantomJS and cache it
  # See https://github.com/Medium/phantomjs#continuous-integration
  - "export PHANTOMJS_VERSION=2.1.1"
  - "export PATH=$PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64/bin:$PATH"
  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then rm -rf $PWD/travis_phantomjs; mkdir -p $PWD/travis_phantomjs; fi"
  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then wget https://github.com/Medium/phantomjs/releases/download/v$PHANTOMJS_VERSION/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -O $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2; fi"
  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then tar -xvf $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs; fi"
  - "phantomjs --version"
  # Fail early so we dont run hours of saucelabs if we know there
  # is a lint failure
  - npm run eslint

script: npm run $COMMAND

env:
  global:
  - NPM_CONFIG_PROGRESS="false"
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="
  - secure: "b8GsgkwaNEOHmJni/rPsc1f3S1/+SxbN6hnXMV7bkSIOiRZAvcf68s3I0Sdln/OPuBmyzeLm5hZ7R8nsA/jYsYD5JUgEzcmF8glcxAeuhMgh9z5jBAfqFo5oUM6B7sE9I7t3/RZkSSkBGqOXIk/43voX1ZGIZBL17VKVPfNcoZ8="
  - secure: "SSRTzT8OTeTpkGCLga74EGRfGmmRtsmAXbiXm1Xkg6tgQQmahxQJcrxr5QwHkdGdWkEIEudTd53AvZ/5KPmokmX/HiWsamdIj3WkrLdYvbEF4+mfqNa4oBBfrWXtPgPOG0vP1u5jPCK76S8qd7Ih8YrmAPUvecb04TnpVcLy+JM="

  matrix:
  - CLIENT=node COMMAND=test TRY=0
  - CLIENT=node COMMAND=test TRY=1
  - CLIENT=node COMMAND=test TRY=2
  - CLIENT=node COMMAND=test TRY=3
  - CLIENT=node COMMAND=test TRY=4
  - CLIENT=node COMMAND=test TRY=5
  - CLIENT=node COMMAND=test TRY=6
  - CLIENT=node COMMAND=test TRY=7
  - CLIENT=node COMMAND=test TRY=8
  - CLIENT=node COMMAND=test TRY=9
  - CLIENT=node COMMAND=test TRY=10
  - CLIENT=node COMMAND=test TRY=11
  - CLIENT=node COMMAND=test TRY=12
  - CLIENT=node COMMAND=test TRY=13
  - CLIENT=node COMMAND=test TRY=14
  - CLIENT=node COMMAND=test TRY=15
  - CLIENT=node COMMAND=test TRY=16
  - CLIENT=node COMMAND=test TRY=17
  - CLIENT=node COMMAND=test TRY=18
  - CLIENT=node COMMAND=test TRY=19
  - CLIENT=node COMMAND=test TRY=20
  - CLIENT=node COMMAND=test TRY=21
  - CLIENT=node COMMAND=test TRY=22
  - CLIENT=node COMMAND=test TRY=23
  - CLIENT=node COMMAND=test TRY=24
  - CLIENT=node COMMAND=test TRY=25
  - CLIENT=node COMMAND=test TRY=26
  - CLIENT=node COMMAND=test TRY=27
  - CLIENT=node COMMAND=test TRY=28
  - CLIENT=node COMMAND=test TRY=29
  - CLIENT=node COMMAND=test TRY=30
  - CLIENT=node COMMAND=test TRY=31
  - CLIENT=node COMMAND=test TRY=32
  - CLIENT=node COMMAND=test TRY=33
  - CLIENT=node COMMAND=test TRY=34
  - CLIENT=node COMMAND=test TRY=35
  - CLIENT=node COMMAND=test TRY=36
  - CLIENT=node COMMAND=test TRY=37
  - CLIENT=node COMMAND=test TRY=38
  - CLIENT=node COMMAND=test TRY=39
  - CLIENT=node COMMAND=test TRY=40
  - CLIENT=node COMMAND=test TRY=41
  - CLIENT=node COMMAND=test TRY=42
  - CLIENT=node COMMAND=test TRY=43
  - CLIENT=node COMMAND=test TRY=44
  - CLIENT=node COMMAND=test TRY=45
  - CLIENT=node COMMAND=test TRY=46
  - CLIENT=node COMMAND=test TRY=47
  - CLIENT=node COMMAND=test TRY=48
  - CLIENT=node COMMAND=test TRY=49

branches:
  only:
  - master

cache:
  directories:
  - $HOME/.npm
  # See https://github.com/gr2m/selsa
  - node_modules/selenium-standalone/.selenium
  # See https://github.com/Medium/phantomjs#continuous-integration
  - travis_phantomjs
