language: node_js

node_js:
  - "0.10"

services:
  - couchdb

git:
  depth: 30

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

    # Lets know what CouchDB we are playing with
  - "curl -X GET http://127.0.0.1:5984/"


install:
  - npm install -d

script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  - CLIENT=node COMMAND=test TRY=1
  - CLIENT=node COMMAND=test TRY=2
  - CLIENT=node COMMAND=test TRY=3
  - CLIENT=node COMMAND=test TRY=4
  - CLIENT=node COMMAND=test TRY=5
  - CLIENT=node COMMAND=test TRY=6
  - CLIENT=node COMMAND=test TRY=7
  - CLIENT=node COMMAND=test TRY=8
  - CLIENT=node COMMAND=test TRY=9
  - CLIENT=node COMMAND=test TRY=10
  - CLIENT=node COMMAND=test TRY=11
  - CLIENT=node COMMAND=test TRY=12
  - CLIENT=node COMMAND=test TRY=13
  - CLIENT=node COMMAND=test TRY=14
  - CLIENT=node COMMAND=test TRY=15
  - CLIENT=node COMMAND=test TRY=16
  - CLIENT=node COMMAND=test TRY=17
  - CLIENT=node COMMAND=test TRY=18
  - CLIENT=node COMMAND=test TRY=19
  - CLIENT=node COMMAND=test TRY=20
  - CLIENT=node COMMAND=test TRY=21
  - CLIENT=node COMMAND=test TRY=22
  - CLIENT=node COMMAND=test TRY=23
  - CLIENT=node COMMAND=test TRY=24
  - CLIENT=node COMMAND=test TRY=25
  - CLIENT=node COMMAND=test TRY=26
  - CLIENT=node COMMAND=test TRY=27
  - CLIENT=node COMMAND=test TRY=28
  - CLIENT=node COMMAND=test TRY=29
  - CLIENT=node COMMAND=test TRY=30
  - CLIENT=node COMMAND=test TRY=31
  - CLIENT=node COMMAND=test TRY=32
  - CLIENT=node COMMAND=test TRY=33
  - CLIENT=node COMMAND=test TRY=34
  - CLIENT=node COMMAND=test TRY=35
  - CLIENT=node COMMAND=test TRY=36
  - CLIENT=node COMMAND=test TRY=37
  - CLIENT=node COMMAND=test TRY=38
  - CLIENT=node COMMAND=test TRY=39
  - CLIENT=node COMMAND=test TRY=40
  - CLIENT=node COMMAND=test TRY=41
  - CLIENT=node COMMAND=test TRY=42
  - CLIENT=node COMMAND=test TRY=43
  - CLIENT=node COMMAND=test TRY=44
  - CLIENT=node COMMAND=test TRY=45
  - CLIENT=node COMMAND=test TRY=46
  - CLIENT=node COMMAND=test TRY=47
  - CLIENT=node COMMAND=test TRY=48
  - CLIENT=node COMMAND=test TRY=49
  - CLIENT=node COMMAND=test TRY=50

branches:
  only:
  - master