language: node_js

node_js:
  - "6"

services:
  - docker

git:
  depth: 30

dist: xenial
sudo: true

addons:
  firefox: latest-est
  jwt:
     secure: YlCp9qGHmnnATcScIQVyOt8eI9FxLhMGAz9iRTHh7r41ADjfGJUzyqkWoBLcCagiQWtqtUujukPAtRuOibbBp9SvmGp+IIdbwHVUDvSZNOvGxkQ1qczeGxJcnht+2YNoCwfzkHW4vFrNiGOULdjvbWAB4sAJ8N0AZPShURwXU1E=

before_install:
  # Because Saucelabs doesnt proxy 5984 on OSX
  - "if [ -z \"$COUCH_HOST\" ]; then export COUCH_HOST=http://127.0.0.1:3000; fi"

before_script:
  # The next two lines are required for Firefox to run on Travis
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  # Fail early so we dont run hours of saucelabs if we know there
  # is a lint failure
  - npm run eslint

# travis_retry will try up to 3 times to run the script. our tests
# are flaky enough (Selenium, SauceLabs, network, etc.) that this
# mitigates a lot of false negatives
script: travis_retry npm run $COMMAND

env:
  global:
  - NPM_CONFIG_PROGRESS="false"
  - SAUCE_USERNAME=pouchdb

  matrix:
  - SKIP_MIGRATION=true CLIENT=saucelabs:safari COMMAND=test
  - SKIP_MIGRATION=true CLIENT=saucelabs:safari:10 COMMAND=test
  - SKIP_MIGRATION=true CLIENT=saucelabs:safari:9 COMMAND=test


branches:
  only:
  - master
  - /^greenkeeper/.*$/

cache:
  directories:
  - $HOME/.npm
  # See https://github.com/gr2m/selsa
  - node_modules/selenium-standalone/.selenium
