language: node_js


node_js:
  - "0.10"


services:
  - couchdb

git:
  depth: 30

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

    # Lets know what CouchDB we are playing with
  - "curl -X GET http://127.0.0.1:5984/"


script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  - CLIENT=node COMMAND=test
  - CLIENT=node LEVEL_PREFIX=foo_ COMMAND=test

  # Test against pouchdb-server
  - CLIENT=node SERVER=pouchdb-server COMMAND=test
  - CLIENT=selenium:firefox SERVER=pouchdb-server COMMAND=test
  - SERVER_ADAPTER=memory LEVEL_ADAPTER=memdown SERVER=pouchdb-server COMMAND=test

  # Test against pouchdb-express-router
  - CLIENT=node SERVER=pouchdb-express-router COMMAND=test

  # Test in firefox/phantomjs running on travis
  - CLIENT=selenium:firefox COMMAND=test
  - CLIENT=selenium:phantomjs ES5_SHIM=true COMMAND=test

  # Test auto-compaction in Node, Phantom, and Firefox
  - AUTO_COMPACTION=true CLIENT=node COMMAND=test
  - AUTO_COMPACTION=true CLIENT=selenium:firefox COMMAND=test
  - AUTO_COMPACTION=true CLIENT=selenium:phantomjs ES5_SHIM=true COMMAND=test

  # Testing in saucelabs
  - CLIENT=saucelabs:chrome:36 COMMAND=test
  - CLIENT=saucelabs:chrome:37 COMMAND=test
  - CLIENT=saucelabs:chrome:39 COMMAND=test
  - CLIENT=saucelabs:safari:6 COMMAND=test
  - SKIP_MIGRATION=true CLIENT="saucelabs:iphone:8.1:OS X 10.10" COMMAND=test
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test

  - CLIENT=selenium:firefox ADAPTERS=memory COMMAND=test
  - CLIENT=selenium:firefox ADAPTERS=idb-alt COMMAND=test
  - CLIENT=selenium:firefox ADAPTERS=localstorage COMMAND=test

  # Test CouchDB master (aka bigcouch branch)
  - CLIENT=node SERVER=couchdb-master COMMAND=test
  - SKIP_MIGRATION=true CLIENT=selenium:firefox SERVER=couchdb-master COMMAND=test

  # Test Couchbase Sync Gateway
  - GREP=test.replication.js CLIENT=node SERVER=sync-gateway BAIL=0 COMMAND=test

  # Performance tests
  - CLIENT=selenium:firefox PERF=1 COMMAND=test
  - PERF=1 COMMAND=test

  - COMMAND=test-unit
  - COMMAND=test-component
  - COMMAND=report-coverage

matrix:
  allow_failures:
  - env: GREP=test.replication.js CLIENT=node SERVER=sync-gateway BAIL=0 COMMAND=test
  fast_finish: true

branches:
  only:
  - master
