language: node_js


node_js:
  - "0.10"


services:
  - couchdb

git:
  depth: 30

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

    # Lets know what CouchDB we are playing with
  - "curl -X GET http://127.0.0.1:5984/"


script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=1
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=2
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=3
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=4
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=5
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=6
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=7
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=8
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=9
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=10
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=11
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=12
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=13
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=14
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=15
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=16
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=17
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=18
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=19
  - CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test TRY=20

branches:
  only:
  - master
  - /^pull*$/
