language: node_js

node_js:
  - "0.12"

services:
  - docker

git:
  depth: 30

sudo:
  false

cache:
  directories:
    - node_modules
    - /tmp/phantomjs

addons:
  firefox: "41.0.1"

before_install:

  - export prebuild_compile=true

  # Install CouchDB Stable
  - docker run -d -p 5984:5984 klaemo/couchdb:1.6.1

  # Install CouchDB Master
  - docker run -d -p 15984:5984 klaemo/couchdb:2.0-dev --with-haproxy --with-admin-party-please -n 1

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

    # Fail early so we dont run hours of saucelabs if we know there
    # is a lint failure
  - npm run jshint

script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  - CLIENT=node COMMAND=test TRY=0
  - CLIENT=node COMMAND=test TRY=1
  - CLIENT=node COMMAND=test TRY=2
  - CLIENT=node COMMAND=test TRY=3
  - CLIENT=node COMMAND=test TRY=4
  - CLIENT=node COMMAND=test TRY=5
  - CLIENT=node COMMAND=test TRY=6
  - CLIENT=node COMMAND=test TRY=7
  - CLIENT=node COMMAND=test TRY=8
  - CLIENT=node COMMAND=test TRY=9
  - CLIENT=node COMMAND=test TRY=10
  - CLIENT=node COMMAND=test TRY=11
  - CLIENT=node COMMAND=test TRY=12
  - CLIENT=node COMMAND=test TRY=13
  - CLIENT=node COMMAND=test TRY=14
  - CLIENT=node COMMAND=test TRY=15
  - CLIENT=node COMMAND=test TRY=16
  - CLIENT=node COMMAND=test TRY=17
  - CLIENT=node COMMAND=test TRY=18
  - CLIENT=node COMMAND=test TRY=19

branches:
  only:
  - master
