language: node_js


node_js:
  - "0.10"


services:
  - couchdb

git:
  depth: 30

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

    # Lets know what CouchDB we are playing with
  - "curl -X GET http://127.0.0.1:5984/"


script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  # Test in firefox/phantomjs running on travis
  - CLIENT=selenium:firefox:d COMMAND=test
  - CLIENT=selenium:firefox:b COMMAND=test
  - CLIENT=selenium:firefox:34 COMMAND=test
  - CLIENT=selenium:firefox:33 COMMAND=test
  - CLIENT=selenium:firefox:32 COMMAND=test
  - CLIENT=selenium:firefox:31 COMMAND=test
  - CLIENT=selenium:firefox:30 COMMAND=test
  - CLIENT=selenium:firefox:29 COMMAND=test
  - CLIENT=selenium:firefox:28 COMMAND=test
  - CLIENT=selenium:firefox:27 COMMAND=test

branches:
  only:
  - master
  - /^pull*$/
