language: node_js


node_js:
  - "0.10"


services:
  - couchdb
  
git:
  depth: 30

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"

    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

    # Lets know what CouchDB we are playing with
    # and make sure its logging debug
  - "curl -X GET http://127.0.0.1:5984/"
  - "curl -X PUT http://127.0.0.1:5984/_config/log/level -d '\"debug\"'"


after_failure:
  - "curl -X GET http://127.0.0.1:5984/_log?bytes=1000000"

script: npm run $COMMAND

env:
  global:
  - secure: "WYQbfTXYwPfqz7t3ycqpXIDQdZ7C9kQJAP+08OF0cuR8eqhm7HxCiu9LjSNqoLAdlDmc55ygeS16Kn3Oht3zZ/i2Y7Gm75HcQfzUIb1sDv1xVm3aQmqZDJfAQ/r7fN8upBCLii/W8IUkJr1k717MpbdsTerIjyfPOb27hw0kJTM="
  - secure: "Ut9pRqzbVJHxg8vt1Cx0bTv4HAroBkvOLjtHF+11f/OzfNnAORIEPnJFHqGbOTozCPOizmzgwvCGqq9gYL8SakrfiI0wBfaL+lk0ub/FPuJ1+hwrLDU0Ju4O5reL0OSu0JB+OTmXfILuRQQkD9/7uwUEbLDFId4phSq3cz1UsK0="
  - secure: "MiufQQKR/EBoS7kcau/I7oYenVilysEqwx37zdgLEKlEUe3SxVOe31uLZv/bhfLNZiRuLAfmIOZmhLGnhMf0LaBzR2yC5qhBxrVHcAiTuS3q6zxpzEf02jnu+hACvj1kJJEPjpOLpEVx7ghWL4McEO0qLbdtSbQlm2IkOX1ONg0="

  matrix:
  - CLIENT=node COMMAND=test TRY=1
  - CLIENT=node COMMAND=test TRY=2
  - CLIENT=node COMMAND=test TRY=3
  - CLIENT=node COMMAND=test TRY=4
  - CLIENT=node COMMAND=test TRY=5
  - CLIENT=node COMMAND=test TRY=6
  - CLIENT=node COMMAND=test TRY=7
  - CLIENT=node COMMAND=test TRY=8
  - CLIENT=node COMMAND=test TRY=9
  - CLIENT=node COMMAND=test TRY=0
  - CLIENT=node COMMAND=test TRY=11
  - CLIENT=node COMMAND=test TRY=12
  - CLIENT=node COMMAND=test TRY=13
  - CLIENT=node COMMAND=test TRY=14
  - CLIENT=node COMMAND=test TRY=15
  - CLIENT=node COMMAND=test TRY=16
  - CLIENT=node COMMAND=test TRY=17
  - CLIENT=node COMMAND=test TRY=18
  - CLIENT=node COMMAND=test TRY=19
  - CLIENT=node COMMAND=test TRY=20
  - CLIENT=node COMMAND=test TRY=21
  - CLIENT=node COMMAND=test TRY=22
  - CLIENT=node COMMAND=test TRY=23
  - CLIENT=node COMMAND=test TRY=24
  - CLIENT=node COMMAND=test TRY=25
  - CLIENT=node COMMAND=test TRY=26
  - CLIENT=node COMMAND=test TRY=27
  - CLIENT=node COMMAND=test TRY=28
  - CLIENT=node COMMAND=test TRY=29
  - CLIENT=node COMMAND=test TRY=30
  - CLIENT=node COMMAND=test TRY=31
  - CLIENT=node COMMAND=test TRY=32
  - CLIENT=node COMMAND=test TRY=33
  - CLIENT=node COMMAND=test TRY=34
  - CLIENT=node COMMAND=test TRY=35
  - CLIENT=node COMMAND=test TRY=36
  - CLIENT=node COMMAND=test TRY=37
  - CLIENT=node COMMAND=test TRY=38
  - CLIENT=node COMMAND=test TRY=39
  - CLIENT=node COMMAND=test TRY=40
  - CLIENT=node COMMAND=test TRY=41
  - CLIENT=node COMMAND=test TRY=42
  - CLIENT=node COMMAND=test TRY=43
  - CLIENT=node COMMAND=test TRY=44
  - CLIENT=node COMMAND=test TRY=45
  - CLIENT=node COMMAND=test TRY=46
  - CLIENT=node COMMAND=test TRY=47
  - CLIENT=node COMMAND=test TRY=48
  - CLIENT=node COMMAND=test TRY=49
  - CLIENT=node COMMAND=test TRY=50
  - CLIENT=node COMMAND=test TRY=51
  - CLIENT=node COMMAND=test TRY=52
  - CLIENT=node COMMAND=test TRY=53
  - CLIENT=node COMMAND=test TRY=54
  - CLIENT=node COMMAND=test TRY=55
  - CLIENT=node COMMAND=test TRY=56
  - CLIENT=node COMMAND=test TRY=57
  - CLIENT=node COMMAND=test TRY=58
  - CLIENT=node COMMAND=test TRY=59
  - CLIENT=node COMMAND=test TRY=60
  - CLIENT=node COMMAND=test TRY=61
  - CLIENT=node COMMAND=test TRY=62
  - CLIENT=node COMMAND=test TRY=63
  - CLIENT=node COMMAND=test TRY=64
  - CLIENT=node COMMAND=test TRY=65
  - CLIENT=node COMMAND=test TRY=66
  - CLIENT=node COMMAND=test TRY=67
  - CLIENT=node COMMAND=test TRY=68
  - CLIENT=node COMMAND=test TRY=69
  - CLIENT=node COMMAND=test TRY=70
  - CLIENT=node COMMAND=test TRY=71
  - CLIENT=node COMMAND=test TRY=72
  - CLIENT=node COMMAND=test TRY=73
  - CLIENT=node COMMAND=test TRY=74
  - CLIENT=node COMMAND=test TRY=75
  - CLIENT=node COMMAND=test TRY=76
  - CLIENT=node COMMAND=test TRY=77
  - CLIENT=node COMMAND=test TRY=78
  - CLIENT=node COMMAND=test TRY=79
  - CLIENT=node COMMAND=test TRY=80
  - CLIENT=node COMMAND=test TRY=81
  - CLIENT=node COMMAND=test TRY=82
  - CLIENT=node COMMAND=test TRY=83
  - CLIENT=node COMMAND=test TRY=84
  - CLIENT=node COMMAND=test TRY=85
  - CLIENT=node COMMAND=test TRY=86
  - CLIENT=node COMMAND=test TRY=87
  - CLIENT=node COMMAND=test TRY=88
  - CLIENT=node COMMAND=test TRY=89
  - CLIENT=node COMMAND=test TRY=90
  - CLIENT=node COMMAND=test TRY=91
  - CLIENT=node COMMAND=test TRY=92
  - CLIENT=node COMMAND=test TRY=93
  - CLIENT=node COMMAND=test TRY=94
  - CLIENT=node COMMAND=test TRY=95
  - CLIENT=node COMMAND=test TRY=96
  - CLIENT=node COMMAND=test TRY=97
  - CLIENT=node COMMAND=test TRY=98
  - CLIENT=node COMMAND=test TRY=99
  - CLIENT=node COMMAND=test TRY=100

matrix:
  allow_failures:
  - env: CLIENT="saucelabs:iphone:7.1:OS X 10.9" COMMAND=test
  - env: CLIENT="saucelabs:internet explorer:10:Windows 8" COMMAND=test
  fast_finish: true

branches:
  only:
  - master
  - /^pull*$/
