language: node_js

node_js:
  - "0.10"

services:
  - couchdb

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "sleep 5"
    # Workaround for Selenium #3280 issue
  - "sudo sed -i 's/^127\\.0\\.0\\.1.*$/127.0.0.1 localhost/' /etc/hosts"

env:
  matrix:
  - CLIENT=node npm test
  - CLIENT=firefox npm test
