@import "@{bootstrap}/navs.less";

.nav-header {
  float: right;
  > li { min-width: 100px; }
}
.nav-silent {
  > li > a {
    padding: .1em 0;
    color: @text-color;
  }
}

/**
 * Sidebar navigation used in learn.html
 **/
.nav-sidebar {
  > li.active > a,
  > li > a:hover {
    color: darken(@brand-primary, 10%);
    border-right: 2px solid lighten(@brand-primary, 10%);
    padding-right: 10px;
  }
}

@media (max-width: @navs-breakpoint-justified) {
  .nav-header {
     width: 100%;
    > li {
      float: none;
      display: table-cell;
      width: 1%;
      min-width: initial;
      > a { text-align: center; }
    }
  }
}

@media (max-width: @navs-breakpoint-horizontal) {
  .nav-header > li:last-child {
    float: left;
    width: 100%;
  }
}

@media (max-width: @logo-breakpoint) {
  .nav-header > li {
    float: left;
    width: 100%;
  }
}

@media (max-width: @screen-sm-min) {
  .nav.nav-sidebar { margin-bottom: 25px; }
  .nav-head,
  .nav.nav-sidebar { text-align: center; }
}
