@import "bower_components/bootstrap/less/utilities.less";

.affix { position: static; }

@media (min-width: @affix-min-width) and (min-height: @affix-min-height) {

  .affix { position: fixed; }

  .affix,
  .affix-top {
    top: 0;
  }

  .affix-top,
  .affix-bottom {
    position: absolute;
  }
}
