# This workflow will do a clean install of node dependencies, cache/restore
# them, build the source code and run tests across different versions of node
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
#
# See supported Node.js release schedule at
# https://nodejs.org/en/about/releases/

name: PouchDB CI

on:
  push: {}
  pull_request:
    branches: [master]

env:
  NODE_VERSION: 14
  TEST_HOST: localhost

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ env.NODE_VERSION }}
      - run: npm run eslint

  # Run the integration, find and mapreduce tests against CouchDB on Node.js.
  # This should be run against every version of CouchDB and every version of
  # Node.js we support.

  couchdb-nodejs:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        couchdb: ['2.3', '3.1']
        node: [14, 16]
        cmd:
          - npm test
          - TYPE=find PLUGINS=pouchdb-find ADAPTERS=http npm test
          - TYPE=mapreduce ADAPTERS=http npm test
    runs-on: ubuntu-latest
    env:
      CLIENT: node
      SERVER: couchdb-master
      COUCH_HOST: http://admin:password@127.0.0.1:5984
      SKIP_MIGRATION: 1
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ matrix.node }}
          couchdb-version: ${{ matrix.couchdb }}
      - id: test
        run: ${{ matrix.cmd }}

  # Run the integration, find and mapreduce tests against CouchDB in the
  # browser. This should be run against every version of CouchDB we support and
  # every target browser.

  couchdb-browser:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        couchdb: ['2.3','3.1']
        client: ['firefox', 'chromium']
        cmd:
          - npm test
          - TYPE=find PLUGINS=pouchdb-find ADAPTERS=http npm test
          - TYPE=mapreduce ADAPTERS=http npm test
    runs-on: ubuntu-latest
    env:
      POUCHDB_SRC: ../../packages/node_modules/pouchdb/dist/pouchdb.min.js
      CLIENT: ${{ matrix.client }}
      SERVER: couchdb-master
      COUCH_HOST: http://admin:password@127.0.0.1:5984
      SKIP_MIGRATION: 1
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ env.NODE_VERSION }}
          couchdb-version: ${{ matrix.couchdb }}
      - id: test
        run: ${{ matrix.cmd }}

  # Run the integration, find and mapreduce tests against all the Node.js
  # PouchDB adapters. This should be run for every adapter on every version of
  # Node.js we support.

  nodejs-adapter:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16]
        adapter: ['leveldb', 'memory']
        cmd:
          - npm test
          - TYPE=find PLUGINS=pouchdb-find npm test
          - TYPE=mapreduce npm test
    runs-on: ubuntu-latest
    env:
      CLIENT: node
      ADAPTERS: ${{ matrix.adapter }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ matrix.node }}
      - id: test
        run: ${{ matrix.cmd }}

  # Run the integration, find and mapreduce tests against all the browser-based
  # adapters. PouchDB adapters. This should be run for every adapter on every
  # target browser.

  browser-adapter:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        client: ['firefox', 'chromium']
        adapter: ['idb', 'indexeddb', 'memory']
        cmd:
          - npm test
          - TYPE=find PLUGINS=pouchdb-find npm test
          - TYPE=mapreduce npm test
    runs-on: ubuntu-latest
    env:
      POUCHDB_SRC: ../../packages/node_modules/pouchdb/dist/pouchdb.min.js
      CLIENT: ${{ matrix.client }}
      ADAPTERS: ${{ matrix.adapter }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ env.NODE_VERSION }}
      - id: test
        run: ${{ matrix.cmd }}

  # Run the integration, find and mapreduce tests using pouchdb-server as the
  # remote adapter. This checks that pouchdb-server works with the current
  # PouchDB source tree. We run this on Node.js and on every target browser.
  # Running against different versions of Node.js might require splitting this
  # out into a distinct job.

  pouchdb-server:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        client: ['node', 'firefox', 'chromium']
        cmd:
          - npm test
          - TYPE=find PLUGINS=pouchdb-find ADAPTERS=http npm test
          - TYPE=mapreduce ADAPTERS=http npm test
    runs-on: ubuntu-latest
    env:
      CLIENT: ${{ matrix.client }}
      SERVER: pouchdb-server
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ env.NODE_VERSION }}
      - id: test
        run: ${{ matrix.cmd }}

  # Run all the other testing tasks -- unit tests, and so on. These should be
  # run on every version of Node.js that we support.

  nodejs:
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        node: [14, 16]
        cmd:
          - CLIENT=firefox npm run test-webpack
          - AUTO_COMPACTION=true npm test
          - PERF=1 npm test
          - npm run test-unit
          - npm run test-component
          - npm run test-fuzzy
          # - SERVER=pouchdb-server POUCHDB_SERVER_FLAGS=--in-memory PLUGINS=pouchdb-find npm run report-coverage
          - npm run verify-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
        with:
          node-version: ${{ matrix.node }}
      - id: test
        run: ${{ matrix.cmd }}
