/*** GLOBAL TAG DEFINITIONS ***/
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  line-height: 1.4em;
  font-size: 15px;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 15px 0;
}

pre {
  line-height: 125%;
  padding: 10px;
  margin: 0;
}

table {
  padding: 0;
  border-spacing:0;
  border-collapse:collapse;
}

table td, table th {
  padding: 0;
}

/*** UTILITY CLASSES ***/

.lineno {
  border-right: 1px solid #666;
  padding-right: 5px;
  font-size: 12px;
}

div.highlight, div.linenodiv {
  margin-bottom: 10px;
}

div.highlight {
  border-radius: 0 5px 5px 0;
}

div.linenodiv {
  border-radius: 5px 0 0 5px;
  background-color: rgb(7, 54, 66);
  color: #777;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}

p code {
  padding: 0px 3px;
  background: none repeat scroll 0% 0% rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
  font-size: 12px;
}

/*** GLOBAL LAYOUT ***/

#headerwrapper, #footerwrapper, #content {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: none repeat scroll 0% 0% rgb(51, 51, 51);
  overflow: auto;
}

header h1 {
  line-height: 30px;
}

header a {
  line-height: 30px;
  color: #FFF;
}

nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

nav li:first-child a {
  border-left: 0;
}

nav a:hover {
  background: #000;
}

header nav {
  float: right;
  margin-top: 4px;
}

header ul {
  list-style-type: none;
}

header li {
  float: left;
}

header h1 {
  float: left;
}

footer {
  margin-top: 50px;
  background: #333;
  overflow: auto;
  padding-bottom: 40px;
}

footer section {
  min-width: 240px;
  float: left;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #FFF;
}

footer h2 {
  color: #999;
  line-height: 35px;
  font-weight: normal;
  margin-bottom: 0px;
}

#content {
  overflow: auto;
}

#download {
  float: left;
}

#download a {
  display: block;
  background: #000;
  margin-top: 17px;
  margin-left: 20px;
  line-height: 30px;
  padding: 3px 15px;
  border-radius: 5px;
}

#learn-more {
  display: block;
  width: 100px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

#logos a {
  transition: opacity 0.5s;
  opacity: 0.3;
  display: block;
  text-indent: -9999px;
  width: 64px;
  height: 64px;
  float: left;
  margin-top: 20px;
  margin-right: 10px;
  background-size: 100%;
}

#couchdb_logo {
  background: url(couchdb-icon-64px.png);
}

#github_logo {
  background: url(GitHub-Mark-64px.png);
}
#twitter_logo {
  background: url(twitter-bird-light-bgs.png);
}

#logos a:hover {
  opacity: 1;
}


/*** PAGE LAYOUT - HOME ***/

#the_database_that_syncs {
  font-weight: normal;
  font-size: 36px;
  text-align: center;
  line-height: 60px;
}

#home1 {
  margin-top: 20px;
  overflow: auto;
  position: relative;
}

#home1 section {
  width: 50%;
  float: left;
}

#home1 section:first-child {
  width: calc(50% - 20px);
  padding-right: 20px;
}

#home2 {
  margin-top: 30px;
  overflow: auto;
}

#home2 section {
  box-sizing: border-box;
  width: 23%;
  padding: 5%;
  float: left;
  overflow: hidden;
  text-align: center;
}

#home2 section:last-child {
  border-right: 0;
}

#home2 section h2 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}

#download {
  text-align: left;
}

#home1 ul {
  padding: 0px 20px 0px 0;
  list-style-type: none;
  width: 450px;
}
#home1 li:first-child {
  border-top: 0;
}
#home1 li {
  border-top: 1px solid #CCC;
  padding: 5px 0;
}
#home1 small {
  width: 100px;
  display: block;
  float: right;
  text-align: right;
}
#home1 strong {
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}

#news {
  position: absolute;
  bottom: 0;
}

/*** PAGE LAYOUT - LEARN ***/

#learn-nav {
  width: 200px;
  float: left;
}

#learn-content {
  width: 700px;
  float: right;
}

#learn-nav ul {
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #CCC;
}

#learn-nav a {
  display: block;
  line-height: 30px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #CCC;
  text-indent: 10px;
  color: #666;
}

#learn-nav a:hover {
  background: #EEE;
}